<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <title>Document</title>
</head>
<body>
  <footer class="footer">
    <div class="footer-category">
      <h3>Sobre Nosotros</h3>
      <p>Somos un grupo de amigos con un emprendimiento de vender "Pavos".</p>
    </div>
    <div class="footer-category">
      <h3>Seguridad</h3>
      <p>Nos tomamos muy en serio la seguridad y datos que nos proporcionan.</p>
    </div>
    <div class="footer-category">
      <h3>Redes Sociales</h3>
      <ul>
        <li><a href="https://discord.gg/cX5M8Je9yE" target="_blank">Discord</a></li>
        <li><a href="https://www.instagram.com/cheapbucks/" target="_blank">Instagram</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
