<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <title>Document</title>
</head>
<body>
  <footer class="footer">
    <div class="footer-category">
      <h3>Sobre Nosotros</h3>
      <p>Nuestra misión es ofrecerte una forma más accesible y económica de adquirir pavos, la moneda virtual de Fortnite, para que puedas disfrutar al máximo de tu experiencia de juego.</p>
      <br>
      <p>Nuestro método es simple pero efectivo: aprovechamos las diferencias de precios en la tienda de Xbox en Argentina, donde los pavos son más económicos, y hacemos las compras desde allí. ¿El resultado? Un ahorro significativo para nuestros clientes, especialmente para aquellos que residen en Europa o realizan sus pagos en dólares o euros.</p>
      <br>
      <p>Estamos comprometidos con la transparencia, la seguridad y la satisfacción del cliente. Cada compra se realiza de forma segura y garantizamos la entrega rápida de los pavos adquiridos. Nuestro objetivo es brindarte una experiencia de compra cómoda y sin complicaciones.</p>
    </div>
    <div class="footer-category">
      <h3>Seguridad</h3>
      <p>En CheapBucks, la seguridad y la protección de los datos de nuestros clientes son nuestra máxima prioridad. Entendemos que confiar en nosotros con tu información personal es una responsabilidad que no tomamos a la ligera.</p>
      <br>
      <p>Nos comprometemos a respetar tu privacidad en todo momento. Nunca compartiremos ni venderemos tus datos personales a terceros sin tu consentimiento explícito. Solo recopilamos la información necesaria para procesar tus pedidos y mejorar tu experiencia de compra.</p>
      <br>
      <p>En caso de que tengas alguna pregunta o inquietud sobre la seguridad de tus datos, nuestro equipo de soporte está disponible para ayudarte en cualquier momento. Tu confianza es invaluable para nosotros, y haremos todo lo posible para mantenerla y protegerla en cada interacción que tengamos contigo.</p>
    </div>
    <div class="footer-category">
      <h3>Redes Sociales</h3>
      <ul>
        <li><a href="https://discord.gg/cX5M8Je9yE" target="_blank">Discord</a></li>
        <li><a href="https://www.instagram.com/cheapbucks/" target="_blank">Instagram</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
