<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/icon.jpeg" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <title>CheapBucks | Inicio</title>
</head>
<body>

  <section class="index-banner">
    <div class="banner-index">
      <div class="text-box">
        <h1>BIENVENIDOS A</h1>
        <h1>CHEAPBUCKS</h1>
        <h3>¡Recargar pavos</h3>
        <h3>a un precio más barato!</h3>
        <a href="/products"><button class="view-packages-btn">SELECCIONAR UN PACK ↦</button></a>
      </div>
      <img src="/images/banner_index.jpg" alt="">
    </div>
  </section>
  
  <section class="info-section">
    <h2>CHEAPBUCKS STORE</h2>
    <div class="info-box">
      <p>
        Sí estás aquí, es porque gustas de servirte de nuestros servicios. Nosotros buscamos los precios más accesibles y decentes para nuestros clientes. ¡Estaremos en constante crecimiento por el bien de la comunidad!
      </p>
    </div>
  </section>

  <%- include ("./partials/footer") %>

</body>
</html>
