<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Popup</title>
  <link rel="stylesheet" href="/stylesheets/popup.css"> <!-- Agrega el archivo CSS para estilos personalizados -->
  <script src="/javascripts/popup.js" defer></script> <!-- Agrega el archivo JavaScript para la ventana emergente -->
</head>
<body>
  <% if (showPopup) { %>
    <div class="popup">
      <div class="popup-content">
        <h2>¡Gracias por contactarte con nosotros!</h2>
        <p>Seras redireccionado al inicio en cualquier momento.</p>
      </div>
    </div>
  <% } %>
</body>
</html>
