body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Cambia el color de fondo del cuerpo */
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    width: 50%;
    margin: 0 auto;
    background-color: #fff; /* Agrega un fondo blanco al formulario */
    padding: 20px; /* Agrega un espacio interno alrededor del formulario */
    border-radius: 10px; /* Agrega bordes redondeados al formulario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra al formulario */
  }
  
  label, input, textarea, button {
    display: block;
    margin-bottom: 20px; /* Aumenta el espacio entre los elementos del formulario */
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Agrega un borde alrededor de los campos de entrada */
    border-radius: 5px; /* Agrega bordes redondeados a los campos de entrada */
  }
  
  button {
    padding: 15px; /* Aumenta el tamaño del botón */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    form {
      width: 50%; /* Cambia el ancho del formulario para pantallas más pequeñas */
    }
  }

  .back-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #0056b3;
}

.back-button:focus {
    outline: none; /* Elimina el contorno al enfocar el botón */
}

  