* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
}

.index-banner {
  position: relative;
  width: 100%;
  height: 30%;
  overflow: hidden;
}

.banner-index {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.text-box {
  position: absolute;
  z-index: 1;
  padding: 20px;
  color: white;
  left: 20px;
}

.text-box h1 {
  margin-bottom: 10px;
  font-size: 4vw; /* Se ajustó el tamaño de la fuente para dispositivos móviles */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-box h3 {
  font-size: 2vw; /* Se ajustó el tamaño de la fuente para dispositivos móviles */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner-index img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Para asegurar que la imagen cubra completamente el contenedor */
  z-index: 0;
}

.info-section {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-box {
  background-color: #ddd;
  padding: 15px;
  border-radius: 10px;
  max-width: 1500px;
}

.info-box p {
  text-align: left;
  margin: 0;
  word-wrap: break-word;
  font-size: 1.5em; /* Se ajustó el tamaño de la fuente para dispositivos móviles */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info-section h2 {
  color: black;
  margin-bottom: 10px;
  text-align: center;
  font-size: 3em; /* Se ajustó el tamaño de la fuente para dispositivos móviles */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.index-banner,
.info-section,
.spacer-section {
  height: 100vh;
}

.index-banner {
  background-color: lightblue;
}

.info-section {
  background-color: #f0f0f0;
}

.view-packages-btn {
  padding: 10px 20px; /* Se ajustó el padding para dispositivos móviles */
  margin-top: 10px; /* Se ajustó el margen superior para dispositivos móviles */
  font-size: 1em;
  background-color:transparent;
  color: white;
  border-color: white;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.view-packages-btn:hover {
  background-color: #fff;
  color: black;
}

@media only screen and (max-width: 600px) {
  .index-banner {
    height: auto;
  }

  .text-box {
    text-align: center;
  }

  .text-box h1 {
    font-size: 6vw;
  }

  .text-box h3 {
    font-size: 3vw;
  }

  .banner-index img {
    width: 100%;
  }

  .info-box {
    max-width: 100%;
  }

  .info-section h2 {
    font-size: 2.5em;
  }

  .view-packages-btn {
    padding: 8px 16px;
    font-size: 0.8em;
  }
}